/* app/globals.css */
body {
  font-family: var(--font-geist-sans), sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

h1, h2, h3 {
  color: #333;
}

.text-primary {
  color: #007bff; /* Azul primário */
}

.text-muted {
  color: #6c757d; /* Cinza claro */
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.bg-light {
  background-color: #f8f9fa;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
