/* app/globals.css */
body {
  font-family: var(--font-geist-sans), sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.tech-carousel .carousel-control-prev,
.tech-carousel .carousel-control-next {
  width: 5%;
}

.tech-carousel .carousel-control-prev-icon,
.tech-carousel .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.tech-carousel .carousel-indicators {
  bottom: -30px;
}

.tech-carousel .carousel-indicators [data-bs-target] {
  background-color: rgba(0, 0, 0, 0.5);
}

.tech-carousel .carousel-indicators .active {
  background-color: #000;
}
